@use "mixins" as mix;
@use "variables" as vars;

.prefectureList {
  margin: 0.5em 0 0;
  display: flex;
  flex-wrap: wrap;
  @include mix.media(sm) {
    margin: 0.2em 0 0;
  }
  label {
    padding: 0.5em 0.5em 0.5em 0;
  }
}
